<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Map</h1>
      <div id="map"></div>
    </div>
    <div class="col-md-3">
      <h1>Markers</h1>
        <div class="marker_list">
          
        </div>
    </div>
  </div>
  <div class="row" >
    <h1>Image</h1>
    <div id="image"></div>
  </div>
</div>


